Projekt-1/Library/
Projekt-1/ProjectSettings/
Projekt-1/Temp/
Projekt-1/UnityPackageManager/
Projekt-1/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Projekt-1/Icon?
Projekt-1/ehthumbs.db
Projekt-1/Thumbs.db